<h1>
  My Code Snippets
  <a href="/code/form/" class="pull-right btn btn-success">Add Code Snippet</a>
</h1>

<br><br>

<ul class="list-group">
  {{#each code}}
    <li class="list-group-item clearfix">
      {{title}}
      {{body}}
      {{language}}
      <span class="pull-right">
        <a href="/code/{{_id}}/edit/" class="btn btn-primary">Edit</a>
        <a href="/code/{{_id}}/delete/" class="btn btn-danger">Delete</a>
      </span>
    </li>
  {{/each}}
</ul>
