<h1>
  My Code Snippets
  <a href="/code/form/" class="pull-right btn btn-success">Add Code Snippet</a>
</h1>

<br><br>

<a href="/logout/" class ="btn">Logout</a>


<form class="" action="/code/lang" method="post">
  <h4>Search by Language</h4>
  <input type="text" name="languagesearch" value="">
  <input type="submit" class="btn btn-primary" value="Search">
</form>

<form class="" action="/code/tag" method="post">
  <h4>Search by Tag</h4>
  <input type="text" name="tagsearch" value="">
  <input type="submit" class="btn btn-primary" value="Search">
</form>
<!-- <form class="view" action="/code/view" method="post">
  <h2>Sort by Language or Tag</h2>
  <input type="hidden" name="id" value="{{code.userId}}">
  <select name="search" class="custom-select">
    <option  selected>Select Language</option>
    {{#each code}}
    <option type="text" >Language: {{language}}</option>
    {{#each tags}}
    <option type ="text">Tag: {{this}}</option>
    {{/each}}
    {{/each}}
  </select>
  <input type="submit" name="" value="View">
</form> -->


<h2>Code Snippets: </h2>
<div class="d-flex flex-row">


  {{#each code}}
    <ul class="code-list">
      <li class="code-name">{{title}}</li>
      <li>Code: {{body}}</li>
      <li>Notes: {{notes}}</li>
      <li>Language: {{language}}</li>
      <li>Tags: {{tags}}</li>
      <li><a class="btn btn-danger delete-button" href="/code/{{_id}}/delete">Delete Code Snippet</a></li>
      <li><a class="btn btn-info update-button" href="/code/{{_id}}/update">Update Code Snippet</a></li>
    </ul>
  {{/each}}
</div>
